.logo-left img {
    position: fixed;
    width: 45%;
    top: 20px;
    left: -18%;
}

.form-right {
    background: #555;
    width: 75%;
    height: 100% !important;
    position: fixed;
    right: -10%;
    overflow: hidden;
    background-image: url(../../assets/img/ui/login-bg.jpg);
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    -ms-transform: skew(200deg);
    -o-transform: skew(200deg);
    transform: skew(200deg);
}

.content-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.form-bg-green {
    width: 100%;
    height: 100% !important;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
    background: #174437;
}

.login-links {
    position: absolute;
    right: 3em;
    bottom: 1em;
}

.login-links img {
    width: 2em;
    height: 1.25em;
    padding-left: 10px;
}

.module-container img{
    width: 150px;
}

.logo-title{
    margin-top: 10px;
}

.form-container {
    -webkit-transform: skew(-200deg);
    -moz-transform: skew(-200deg);
    -ms-transform: skew(-200deg);
    -o-transform: skew(-200deg);
    transform: skew(-200deg);
}

.login-input input {
    background: transparent;
    border: 1px solid #999 !important;
    width: 300px;
    outline: none;
    font-size: 12px;
    padding: 10px 40px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}

.login-input img {
    position: absolute;
    width: 20px;
    right: 8px;
    padding-top: 8px;
}

.forgot-pass-link button {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    background: transparent;
    border: none;

}

.button-login {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: rgb(255,255,255) !important;
    background-color: #39887A;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 0.010em;
}

.button-login:hover {
    background-color: #51bdaa;
}

.logo-title span {
    color: #fff;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 700;
}

.error-message {
    margin-bottom: 20px;
    background: #ffffffe8;
    border-radius: 3px;
    display: inline-block;
    color: red;
}

